<!DOCTYPE html>
<html lang='pt-BR'>
    
<head>
<title>Salvi Óticas</title>
    <link rel="stylesheet" href="/style.css">
</head> 


<body>
    <aside>
        <img src='/assets/ellipsis.png'>
        <ul class='header'>
            <li><a href='home'>Buscar</a></li>
            <li><a href=''>sair</a></li>
        </ul> 
    </aside>

    {% block content %}
    {% endblock %}
</body>




</html>