{%extends 'layout.njk'%}


    {%block content%}
        <h1> Clientes </h1>

        <section class='search'>
            <input type='text' class='search_customer'>
            <div class='search_bar'>
            <button>Procurar cliente</button>
            </div>
        </section>
    {%endblock%}